<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Please Log In</title>
</head>

<body>
  {{!-- Image --}}
  <div class="image-container"><img src="./img/vision.png" id="eye"></div>

  {{!-- Username and Password --}}
  {{!-- =========================================== --}}
  <div class="container-field">
    <div id="username-field" class="field">
      <p class="control has-icons-left has-icons-right">
        <input id="username-input" class="input" type="email" placeholder="Username">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>

      </p>
    </div>
    <div id="password-field" class="field">
      <p class="control has-icons-left">
        <input id="password-input" class="input" type="password" placeholder="Password">
        <span class="icon is-small is-left">
         <i class="fas fa-key"></i> </span>
      </p>
    </div>

    <p class="forgot-password"><a href="#" id="forgot-password">Forgot Password?</a></p>
    <br>
    <input type="submit" id="login" value="Login" class="button">
    <br>
    <p class="no-account">Don't have an account? <a href="#" id="sign-up">Sign up</a></p>
  </div>


  {{!--  --}}
  {{!-- <div class="container-field">

<div id="username-input" class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
</div> --}}




  {{!--  --}}