<div class="section">
	<div class="tile is-ancestor">
		<div class="tile is-parent">
			<div class="tile is-child has-background-primary box">
				<h1 class="title is-2">Welcome, {{retailUserName}}!!</h1>
				<h2 class="subtitle is-5">It's {{today}}</h3>
				<p class="has-text-right has-text-weight-light">{{quarter}} Quarter, Week #{{week}}</p>
			</div>
		</div>
	</div>
	<div class="tile is-ancestor">
		<div class="tile is-parent">
			<div class="tile is-child has-background-warning box is-5">
				<h1 class="title"><span class="icon"><i class="fas fa-battery-quarter fa-xs"></i></span> Low Stock</h1>
				<p>It looks like you're running low on a few things! Why don't you go ahead and place an order?</p>
			</div>
			<div class="tile is-child is-1"></div>
			<div class="tile is-child has-background-grey-light box is-6">
				<h1 class="title"><span class="icon"><i class="fas fa-battery-empty fa-xs"></i></span> Out of Stock</h1>
				<p>Here's what you've ran out of. If you need to repeat an order, choose "Click & Go" or "View & Edit" under "Repeat Order" on the Control Panel! Or, if you're looking for a new product to fill its spot, try searching distributors!</p>
			</div>
		</div>
		<div class="tile is-parent is-vertical">
			<div class="tile is-child has-background-success box">
				<h1 class="title"><span class="icon"><i class="fas fa-globe-americas fa-xs"></i></span> The World Around You</h1>
				
				<p>It looks like you're located at <span id="location"></span>. We'll show you distributors within a reasonable distance from you, but you can always search beyond! Just click "Search Distributors" on the side bar.</p>
			</div>
			<div class="tile is-child has-background-danger box">
				<h1 class="title"><span class="icon"><i class="fas fa-bell fa-xs"></i></span> Notifications</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum libero molestiae, id perspiciatis dolor ut placeat quisquam reprehenderit assumenda suscipit fugit accusamus nesciunt facilis neque voluptate, voluptatibus enim, error quod!</p>
			</div>
			<div class="tile is-child has-background-info box">
				<h1 class="title"><span class="icon"><i class="far fa-eye fa-xs"></i></span> Quick Look</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptatibus alias quibusdam ad natus dolor laborum modi culpa iure quos rem, dolorem repudiandae sed id odit minus totam suscipit expedita.</p>
			</div>
		</div>
	</div>
</div>