<div class="section">
	<div class="tile is-ancestor">
		<div class="tile is-parent">
			<div class="tile is-child has-background-primary box">
				<h1 class="title is-2">Welcome, {{retailUserName}}!!</h1>
				<h2 class="subtitle is-5">It's {{today}}</h3>
				<p>{{quarter}} Quarter, Week #{{week}}</p>
			</div>
		</div>
	</div>
	<div class="tile is-ancestor">
		<div class="tile is-parent">
			<div class="tile is-child has-background-warning box is-5">
				<h1 class="title">One</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptatibus alias quibusdam ad natus dolor laborum modi culpa iure quos rem, dolorem repudiandae sed id odit minus totam suscipit expedita.</p>
			</div>
			<div class="tile is-child is-1"></div>
			<div class="tile is-child has-background-grey-light box is-6">
				<h1 class="title">Two</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptatibus alias quibusdam ad natus dolor laborum modi culpa iure quos rem, dolorem repudiandae sed id odit minus totam suscipit expedita.</p>
			</div>
		</div>
		<div class="tile is-parent is-vertical">
			<div class="tile is-child has-background-success box">
				<h1 class="title">Three</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptatibus alias quibusdam ad natus dolor laborum modi culpa iure quos rem, dolorem repudiandae sed id odit minus totam suscipit expedita.</p>
			</div>
			<div class="tile is-child has-background-danger box">
				<h1 class="title">Four</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptatibus alias quibusdam ad natus dolor laborum modi culpa iure quos rem, dolorem repudiandae sed id odit minus totam suscipit expedita.</p>
			</div>
			<div class="tile is-child has-background-info box">
				<h1 class="title">Five</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptatibus alias quibusdam ad natus dolor laborum modi culpa iure quos rem, dolorem repudiandae sed id odit minus totam suscipit expedita.</p>
			</div>
		</div>
	</div>
</div>