$buttonColor: #7659EF;



#deleteBtn {
    background-color: $buttonColor;
    border-color: transparent;
    color: #fff;
    margin: 2px;
}

#editBtn {
    background-color: red;;
    border-color: transparent;
    color: #fff;
}

