<!DOCTYPE html>
<html lang="en" {{#if loggedIn}} class="has-navbar-fixed-top" {{/if}}>

<head>
	<meta charset="UTF-8">

	<title>Inventory</title>
	<link rel="stylesheet" type="text/css" href="./styles/mybulma/sass/mystyles.css">
	<script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"> --}}
	{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}
	{{!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> --}}
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>

<body>

	{{!-- this navbar will only show up when the user is logged in --}}
	 {{!-- <div class="conditional-navbar">
		{{#if loggedIn}}
		<nav class="navbar navbar-default navbar-light" style="background-color: rgb(13, 43, 63);">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img src="./img/vision.png" id="eye">
					</a>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#navbar-collapse" aria-expanded="false">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
	<!-- Collect the nav links -->
	 <div class="collapse navbar-collapse" id="navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/create">Create</a></li>
						<li><a href="/">List</a></li>
						<li><a href="https://guarded-beach-71836.herokuapp.com/"
								onclick="return popUp('https://guarded-beach-71836.herokuapp.com/')">Chat</a></li>
						<li><a href="/about">About</a></li>

					</ul>

				</div> 
	</div>
		</nav>
		{{/if}}
	</div> --}}
	{{!-- /div that holds conditional navbar --}}


	{{!-- conditional top navbar --}}
	{{#if loggedIn}}
	<section>
		<nav class="navbar is-black is-fixed-top is-unselectable" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<img src="/img/vision.png">
				</a>
				<div class="navbar-item">
					<h1 class="subtitle has-text-grey-lighter">eyeManage&trade; Ordering System</h1>
				</div>
			</div>
		</nav>
	</section>
	{{/if}}
	{{!-- /conditional top navbar --}}


	{{!-- conditional side nav --}}
	{{#if loggedIn}}
	<section class="main-content columns is-fullheight">
		<aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile is-unselectable has-background-light">
			{{!-- <p class="menu-label is-hidden-touch">Navigation</p>
			<ul class="menu-list">
				<li>
					<a href="#" class="">
						<span class="icon"><i class="fa fa-home"></i></span> Home
					</a>
				</li>
				<li>
					<a href="#" class="is-active">
						<span class="icon"><i class="fa fa-table"></i></span> Links
					</a>
					<ul>
						<li>
							<a href="#">
								<span class="icon is-small"><i class="fa fa-link"></i></span> Link1
							</a>
						</li>
						<li>
							<a href="#">
								<span class="icon is-small"><i class="fa fa-link"></i></span> Link2
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="">
						<span class="icon"><i class="fa fa-info"></i></span> About
					</a>
				</li>
			</ul> --}}
			<p class="menu-label">
				Control Panel
			</p>
			<ul class="menu-list">
				<li><a><span class="icon"><i class="fas fa-shopping-basket"></i></span>New Order</a></li>
				<li>
					<p class="menu-label"> - Repeat Order</p>
					<ul>
						<li><a><span class="icon is-small"><i class="fas fa-mouse-pointer"></i></span> Click & Go</a></li>
						<li><a><span class="icon is-small"><i class="fas fa-edit"></i></span> View & Edit</a></li>
					</ul>
				</li>
				<li><a><span class="icon"><i class="fas fa-history"></i></span>Order History</a></li>
				<li><a><span class="icon"><i class="far fa-eye"></i></span>Search Distributors</a></li>
			</ul>
			<p class="menu-label">
				Account Options
			</p>
			<ul class="menu-list">
				<li><a><span class="icon"><i class="far fa-credit-card"></i></span>Payments</a></li>
				<li><a><span class="icon"><i class="fas fa-map-marked-alt"></i></span>Addresses</a></li>
				<li><a><span class="icon"><i class="fas fa-cogs"></i></span>Settings</a></li>
				<li><a><span class="icon"><i class="fas fa-sign-out-alt"></i></span>Log Out</a></li>
			</ul>
		</aside>
		{{!-- <div class="conditional-sidebar navbar">
			<aside class="menu">
				<p class="menu-label">
					Control Panel
				</p>
				<ul class="menu-list">
				<li><a>New Order</a></li>
				<li>
					<a class="is-active">Repeat Order</a>
					<ul>
						<li><a>Click and Go</a></li>
						<li><a>Revise and Edit</a></li>
					</ul>
				</li>
				<li><a>Order History</a></li>
				<li><a>Search Distributors</a></li>
				</ul>
				<p class="menu-label">
					Account Options
				</p>
				<ul class="menu-list">
					<li><a>Payments</a></li>
					<li><a>Addresses</a></li>
					<li><a>Passwords, Preferences, & More</a></li>
					<li><a>Log Out</a></li>
				</ul>
			</aside>
		</div> --}}
		{{/if}}
		{{!-- /side nav --}}

		{{{ body }}}
	</section>
	{{!-- javascript here --}}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	{{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> --}}
	{{!-- <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> --}}
	<script type="text/javascript" src="/assets/js/app.js"></script>

	<script language="javascript" type="text/javascript">
		function popUp(url) {
			newWindow = window.open(url, 'name', 'top=200,left=400,menubar=no,toolbar=no,scrollbars=no,resizable=no,height=590,width=750');
			if (window.focus) { newWindow.focus() }
			return false;
		}
	</script>
	<script src="/assets/js/logic.js"></script>

</body>

</html>